<#import "/include/CommonTagMacro.html" as CommonMacro>
<@CommonMacro.page title="机构管理">
<#assign scope="bi"/>
<#assign curPre="biMerchant"/>
<#assign curDef="BiMerchant"/>
<#assign curClass="com.tenze.pms.facade.dto.bi.BiMerchantDto"/>
<script type="text/javascript">
var ${curPre}GridItemdbclick;
var bt_add_OnClick;
var bt_edit_OnClick;
var bt_refresh_OnClick;
var bt_del_OnClick;
var bt_search_OnClick;
var search_btQuery_OnClick;
var form_bt_save_OnClick;
var form_bt_close_OnClick;
var getParams;
Ext.onReady(function() {
		
	var toolbar_promise = jQuery.ajax({
		type:'get',
		url:'${base}/sys/roleMenuFuncsPermBySysPerm.tz?mainMenuId=${mainMenuId}',
		dataType:'json'
	}).done(function(resp){
		var arr = [];
		for(var i in resp){
			arr.push(resp[i].functionBtn);
		}
		TenzeExt.${curPre}GridToolbar = Ext_BuildToolbarBtns(arr);
	});
		
		
		 TenzePreLoad(['${curClass}',toolbar_promise],function(){
			 Ext_BuildGrid('${curClass}','${curPre}',{
				url:'${base}/${scope}/listPageBy${curDef}.tz',
				tbar:TenzeExt.${curPre}GridToolbar
			 });
			 
			 
			 Ext_BuildForm('${curClass}','${curPre}',{
				 
			 });
			 
		     var win = Ext.create('Ext.Window', {
		        title: '编辑',
		        width: 900,
		        border : false,
		        x: 100,
		        y: document.documentElement.clientWidth / 10,
		        resizable : true,
				draggable : true,
				closeAction : 'close',
		        plain: true,
		        layout: 'fit',
		        items : [ TenzeExt.${curPre}Form],
		        tbar : Ext_BuildToolbarBtns(['save','close'],{preffix:'form_'})
		    });
		    
		     TenzeExt.${curPre}GridStore.on("beforeload", function(){
		 		Ext.apply(TenzeExt.${curPre}GridStore.proxy.extraParams, {});
		 	});                 
		                       
		     <#--新增按钮-->
		     bt_add_OnClick = function() {
		        win.show();
		     }
		     <#--关闭-->
		     form_bt_close_OnClick = function() {
		        TenzeExt.${curPre}Form.form.reset();
		        win.hide();
		     }
		     <#--编辑-->
		     bt_edit_OnClick = function() {
		     	var record =TenzeExt.${curPre}Grid.getSelectionModel().getLastSelected();
		        showWin(record);		
		     }
		     ${curPre}GridItemdbclick = function(obj, record, item, index, e, eOpts){
		     	showWin(record);	
		     };
		     function showWin(record){
		 	   if (isEmpty(record)) {			
		 			showErrorMsg('请选择列表中的行');
		 			return false;
		 	   }
		       TenzeExt.${curPre}Form.getForm().loadRecord(record);	
		       win.show();
		     }
		     bt_del_OnClick = function() {
		     	batchRemove('${base}/${scope}/removeBy${curDef}.tz', TenzeExt.${curPre}Grid, "id", function(response){
		     		var text = response.responseText;
		     		var kk = Ext.JSON.decode(text).success;
		     		if(!isEmpty(kk) && kk == "true"){
		     		 	showTitMsg('删除成功', function(){
		 	    			query${curDef}(); 
		 	        	});
		     		}else{
		     			showErrorMsg(Ext.JSON.decode(text).failure);
		     		}
		     	});
		     }
		     
		     //刷新
		     bt_refresh_OnClick = function() {       
		        TenzeExt.${curPre}GridStore.load();
		     }
		     
		     form_bt_save_OnClick = function() {
		     	var fdeptNo = TenzeExt.${curPre}Form.getValues().id;
		     	if(isEmpty(fdeptNo)){
		     		submitForm('${base}/${scope}/createBy${curDef}.tz', TenzeExt.${curPre}Form, function(form, action){
		 	    		showTitMsg('保存成功', function(){
		 	    			query${curDef}() ;
		 	    			win.hide();
		 	    		});
		 	    	},function(form, action){
		 	    		var errmsg = action.result.failure;
		 				showErrorMsg(errmsg);
		 	    	});
		     	}else{
		 	    	submitForm('${base}/${scope}/updateBy${curDef}.tz', TenzeExt.${curPre}Form, function(form, action){
		 	    		showTitMsg('保存成功', function(){
		 	    			query${curDef}() ;
		 	    			win.hide();
		 	    		});
		 	    	},function(form, action){
		 	    		var errmsg = action.result.failure;
		 				showErrorMsg(errmsg);
		 	    	});
		     	}
		     }
		    
		     win.on("hide", function(){
		     	TenzeExt.${curPre}Form.form.reset();
		 	});
		 	
		 	 var viewport = new Ext.Viewport({
					layout : 'border',
					items : [{
						region : 'center',
						layout : 'fit',
						border : false,
						items : [ TenzeExt.${curPre}Grid ]
					} ]
			});
		 	 
		 	function query${curDef}() {       
		 		TenzeExt.${curPre}GridStore.load();
		     }
		 	
		 	search_btQuery_OnClick = function(){
		 		query${curDef}();
		 	}
		    
		 	Ext_BuildSearchWin('${curClass}','');
		 	
		 	getParams = function(){
		 		return TenzeExt['search_getParams']();
		 	}
		 	
		 	bt_search_OnClick = function(){
		 		TenzeExt.search_Win.show();
		 	};
		 	
		 	window.btn_orgName_preview_OnClick = function(){
		 		TenzeExt.pickupOrgWin.show();
		 	}
		 	
		 	function pickupOrgSelectCallback(obj, record, item, index, e, eOpts){
		 		$('orgId').setValue(record.raw.id);
		 		$('orgName').setValue(record.raw.orgName);
		 	}
		 	
		 	<#include '/template/include/pickup_org.js'/>
		 	
		 	window.btn_merTypeName_preview_OnClick = function(){
		 		TenzeExt.pickupMerchantTypeWin.show();
		 	}
		 	
		 	function pickupMerchantTypeSelectCallback(obj, record, item, index, e, eOpts){
		 		$('merTypeId').setValue(record.raw.id);
		 		$('merTypeName').setValue(record.raw.merName);
		 	}
		 	
		 	<#include '/template/include/pickup_merchant_type.js'/>
		 	
		 	
		 	window.btn_rgnName_preview_OnClick = function(){
		 		TenzeExt.pickupRegionWin.show();
		 	}
		 	
		 	function pickupRegionSelectCallback(obj, record, item, index, e, eOpts){
		 		$('rgnId').setValue(record.raw.id);
		 		$('rgnName').setValue(record.raw.rgnName);
		 	}
		 	
		 	<#include '/template/include/pickup_region.js'/>
		 	
		 	
		 	window.btn_unionName_preview_OnClick = function(){
		 		TenzeExt.pickupUnionWin.show();
		 	}
		 	
		 	function pickupUnionSelectCallback(obj, record, item, index, e, eOpts){
		 		$('unionId').setValue(record.raw.id);
		 		$('unionName').setValue(record.raw.unionName);
		 	}
		 	
		 	<#include '/template/include/pickup_union.js'/>
		 	
		 	
		 	<#include '/template/include/upload_image_switch.js'/>
		 	
		 	window.btn_merCertImage_preview_OnClick = function(){
		 		uploadImageSwitchWin.show();
		 	}
		 	var uploadImageConfig= {
		 			options:{},
		 			callback:function(path,fileName,miniPath){
		 				console.log(path);	
		 				console.log(miniPath);	
		 				$('merCertImage').setValue(path);
		 				document.getElementById('merCertImageShow').src = path;
		 			}
		 	}
		 	window.merCertImageShow_OnClick = function(){
		 		window.open(document.getElementById('merCertImageShow').src);
		 	}
		 });
    
});
</script>
</@CommonMacro.page>
