<#import "/include/CommonTagMacro.html" as CommonMacro>
<@CommonMacro.page title="按钮管理">
<#assign scope="sys"/>
<#assign curPre="sysFunction"/>
<#assign curDef="SysFunction"/>
<#assign curClass="com.tenze.pms.facade.dto.sys.SysFunctionDto"/>
<script type="text/javascript">
var ${curPre}GridItemdbclick;
var bt_add_OnClick;
var bt_edit_OnClick;
var bt_refresh_OnClick;
var bt_del_OnClick;
var bt_search_OnClick;
var search_btQuery_OnClick;
var form_bt_save_OnClick;
var form_bt_close_OnClick;
var getParams;
var tempMenuId;
var srcMenuId,targetMenuId;
Ext.onReady(function() {
		
		 TenzePreLoad(['${curClass}','com.tenze.pms.facade.dto.sys.SysMenuDto'],function(){
			 Ext_BuildGrid('${curClass}','${curPre}',{
				url:'${base}/${scope}/listPageBy${curDef}.tz',
				tbar: Ext_BuildToolbarBtns(['edit','refresh','copy','paste','exit'])
			 });
			 
			 // 'add', 'del',
			 
			 Ext_BuildForm('${curClass}','${curPre}',{
				 
			 });
			 
			 
			 Ext_BuildTree('com.tenze.pms.facade.dto.sys.SysMenuDto','menu',{
				 url:'${base}/sys/listBySysMenu.tz',
				 rootText:'菜单',
				 rootVisible:true,
				 listTreeSetting:{
					 convertProps:[{key:'expandedFlag',target:'expanded'},{key:'leafFlag',target:'leaf'}],
					 extIdKey:'id',
					 extTextKey:'menuName',
					 simpleData:{
						 idKey:'menuNo',
						 pIdKey:'parentNo'
					 }
				 }
			 });
			 
			 
		     var win = Ext.create('Ext.Window', {
		        title: '编辑',
		        width: 700,
		        border : false,
		        x: 100,
		        y: document.documentElement.clientWidth / 10,
		        resizable : true,
				draggable : true,
				closeAction : 'close',
		        plain: true,
		        layout: 'fit',
		        items : [ TenzeExt.${curPre}Form],
		        tbar : Ext_BuildToolbarBtns(['save','close'],{preffix:'form_'})
		    });
		    
		     TenzeExt.${curPre}GridStore.on("beforeload", function(){
		 		Ext.apply(TenzeExt.${curPre}GridStore.proxy.extraParams, {});
		 	});                 
		                       
		     <#--新增按钮-->
		     bt_add_OnClick = function() {
		    	 if(Ext.isEmpty(tempMenuId)){
		    		 showErrorMsg('请先选择左侧菜单');
		    		 return;
		    	 }
		    	 $('menuId').setValue(tempMenuId);
		        win.show();
		     }
		     <#--关闭-->
		     form_bt_close_OnClick = function() {
		        TenzeExt.${curPre}Form.form.reset();
		        win.hide();
		     }
		     <#--编辑-->
		     bt_edit_OnClick = function() {
		     	var record =TenzeExt.${curPre}Grid.getSelectionModel().getLastSelected();
		        showWin(record);		
		     }
		     ${curPre}GridItemdbclick = function(obj, record, item, index, e, eOpts){
		     	showWin(record);	
		     };
		     function showWin(record){
		 	   if (isEmpty(record)) {			
		 			showErrorMsg('请选择列表中的行');
		 			return false;
		 	   }
		       TenzeExt.${curPre}Form.getForm().loadRecord(record);	
		       win.show();
		     }
		     bt_del_OnClick = function() {
		     	batchRemove('${base}/${scope}/removeBy${curDef}.tz', TenzeExt.${curPre}Grid, "id", function(response){
		     		var text = response.responseText;
		     		var kk = Ext.JSON.decode(text).success;
		     		if(!isEmpty(kk) && kk == "true"){
		     		 	showTitMsg('删除成功', function(){
		 	    			query${curDef}(); 
		 	        	});
		     		}else{
		     			showErrorMsg(Ext.JSON.decode(text).failure);
		     		}
		     	});
		     }
		     
		     //刷新
		     bt_refresh_OnClick = function() {       
		        TenzeExt.${curPre}GridStore.load();
		     }
		     
		     form_bt_save_OnClick = function() {
		     	var fdeptNo = TenzeExt.${curPre}Form.getValues().id;
		     	if(isEmpty(fdeptNo)){
		     		submitForm('${base}/${scope}/createBy${curDef}.tz', TenzeExt.${curPre}Form, function(form, action){
		 	    		showTitMsg('保存成功', function(){
		 	    			query${curDef}() ;
		 	    			win.hide();
		 	    		});
		 	    	},function(form, action){
		 	    		var errmsg = action.result.failure;
		 				showErrorMsg(errmsg);
		 	    	});
		     	}else{
		 	    	submitForm('${base}/${scope}/updateBy${curDef}.tz', TenzeExt.${curPre}Form, function(form, action){
		 	    		showTitMsg('保存成功', function(){
		 	    			query${curDef}() ;
		 	    			win.hide();
		 	    		});
		 	    	},function(form, action){
		 	    		var errmsg = action.result.failure;
		 				showErrorMsg(errmsg);
		 	    	});
		     	}
		     }
		    
		     win.on("hide", function(){
		     	TenzeExt.${curPre}Form.form.reset();
		 	});
		 	
		 	var viewport = new Ext.Viewport({
		 		layout : 'border',
		 		items : [ {
		 			title : '菜单',
		 			iconCls : 'layout_contentIcon',
		 			tools : [ ],
		 			collapsible : true,
		 			width : 180,
		 			split : true,
		 			region : 'west',
		 			autoScroll : true,
		 			layout:'fit',
		 			items : [ TenzeExt.menuTree ]
		 		}, {
		 			region : 'center',
		 			layout : 'fit',
		 			border : false,
		 			items : [ TenzeExt.${curPre}Grid ]
		 		} ]
		 	});
		 	
		 	 TenzeExt.menuTree.on('load',function(){
			     TenzeExt.menuTree.expandAll();
		     });
		 	 
		 	function query${curDef}() {       
		 		TenzeExt.${curPre}GridStore.load();
		     }
		 	
		 	search_btQuery_OnClick = function(){
		 		query${curDef}();
		 	}
		    
		 	Ext_BuildSearchWin('${curClass}','');
		 	
		 	getParams = function(){
		 		return TenzeExt['search_getParams']();
		 	}
		 	
		 	bt_search_OnClick = function(){
		 		TenzeExt.search_Win.show();
		 	};
		 	
		 	
		 	window.menuTreeItemClick = function(view, re, item, index, e, eOpts){
		 		tempMenuId = re.raw.id;
		 		$('query_menuId').setValue(re.raw.id);
		 		query${curDef}();
		 	}
		 	
		 	window.bt_copy_OnClick = function(){
		 		 if(Ext.isEmpty(tempMenuId)){
		    		 showErrorMsg('请先选择左侧菜单');
		    		 return;
		    	 }
		 		 srcMenuId = tempMenuId;
		 		showTitMsg('复制成功');
		 	}
		 	
		 	window.bt_paste_OnClick = function(){
		 		targetMenuId = tempMenuId;
		 		if(srcMenuId==targetMenuId){
		    		 showErrorMsg('不能复制粘贴同一菜单按钮');
					 return;		 			
		 		}
		 		jQuery.ajax({
		 			type:'get',
		 			url:'${base}/sys/copyFunctionsBySysFunction.tz?srcMenuId='+srcMenuId+'&targetMenuId='+targetMenuId,
		 			dataType:'json'
		 		}).done(function(resp){
		 			if(resp.success){
		 				showTitMsg('粘贴成功');
		 				query${curDef}();
		 			}else{
			    		showErrorMsg(resp.failure);
		 			}
		 		});
		 	}
		 });
    
});
</script>
</@CommonMacro.page>
