<#import "/include/CommonTagMacro.html" as CommonMacro>
<@CommonMacro.page title="图标管理">
<style type="text/css">
	.icon-div{
		width:16px;height:16px;margin:10px;float:left;cursor:pointer;
	
</style>

<div class="icon-div help " onclick="selectIcon(this)"></div>
<div class="icon-div info " onclick="selectIcon(this)"></div>
<div class="icon-div nav " onclick="selectIcon(this)"></div>
<div class="icon-div back " onclick="selectIcon(this)"></div>
<div class="icon-div cus_folder " onclick="selectIcon(this)"></div>
<div class="icon-div folder_cameraIcon " onclick="selectIcon(this)"></div>
<div class="icon-div folder_userIcon " onclick="selectIcon(this)"></div>
<div class="icon-div folder_award_star_gold_1 " onclick="selectIcon(this)"></div>
<div class="icon-div folder_award_star_gold_2 " onclick="selectIcon(this)"></div>
<div class="icon-div folder_award_star_gold_3 " onclick="selectIcon(this)"></div>
<div class="icon-div folder_feedIcon " onclick="selectIcon(this)"></div>
<div class="icon-div cupIcon " onclick="selectIcon(this)"></div>
<div class="icon-div application_homeIcon " onclick="selectIcon(this)"></div>
<div class="icon-div groupIcon " onclick="selectIcon(this)"></div>
<div class="icon-div commentsIcon " onclick="selectIcon(this)"></div>
<div class="icon-div applicationIcon " onclick="selectIcon(this)"></div>
<div class="icon-div application_doubleIcon " onclick="selectIcon(this)"></div>
<div class="icon-div application_cascadeIcon " onclick="selectIcon(this)"></div>
<div class="icon-div application_goIcon " onclick="selectIcon(this)"></div>
<div class="icon-div tbar_synchronizeIcon " onclick="selectIcon(this)"></div>
<div class="icon-div comments_addIcon " onclick="selectIcon(this)"></div>

<div class="icon-div page_addIcon " onclick="selectIcon(this)"></div>

<div class="icon-div page_edit_1Icon " onclick="selectIcon(this)"></div>

<div class="icon-div page_delIcon " onclick="selectIcon(this)"></div>

<div class="icon-div page_refreshIcon " onclick="selectIcon(this)"></div>

<div class="icon-div comment_addIcon " onclick="selectIcon(this)"></div>

<div class="icon-div acceptIcon " onclick="selectIcon(this)"></div>

<div class="icon-div deleteIcon " onclick="selectIcon(this)"></div>

<div class="icon-div status_awayIcon " onclick="selectIcon(this)"></div>

<div class="icon-div status_busyIcon " onclick="selectIcon(this)"></div>

<div class="icon-div arrow_refreshIcon " onclick="selectIcon(this)"></div>

<div class="icon-div lockIcon " onclick="selectIcon(this)"></div>

<div class="icon-div wrenchIcon " onclick="selectIcon(this)"></div>

<div class="icon-div book_previousIcon " onclick="selectIcon(this)"></div>

<div class="icon-div window_caise_listIcon " onclick="selectIcon(this)"></div>

<div class="icon-div imageIcon " onclick="selectIcon(this)"></div>

<div class="icon-div application_view_listIcon " onclick="selectIcon(this)"></div>

<div class="icon-div keyIcon " onclick="selectIcon(this)"></div>

<div class="icon-div page_findIcon " onclick="selectIcon(this)"></div>

<div class="icon-div layout_contentIcon " onclick="selectIcon(this)"></div>

<div class="icon-div chart_organisationIcon " onclick="selectIcon(this)"></div>

<div class="icon-div buildingIcon " onclick="selectIcon(this)"></div>

<div class="icon-div user_femaleIcon " onclick="selectIcon(this)"></div>

<div class="icon-div status_onlineIcon " onclick="selectIcon(this)"></div>

<div class="icon-div expand-allIcon " onclick="selectIcon(this)"></div>

<div class="icon-div collapse-allIcon " onclick="selectIcon(this)"></div>

<div class="icon-div drinkIcon " onclick="selectIcon(this)"></div>

<div class="icon-div userIcon " onclick="selectIcon(this)"></div>

<div class="icon-div group_linkIcon " onclick="selectIcon(this)"></div>

<div class="icon-div award_star_silver_3Icon " onclick="selectIcon(this)"></div>

<div class="icon-div medal_silver_3Icon " onclick="selectIcon(this)"></div>

<div class="icon-div medal_gold_1Icon " onclick="selectIcon(this)"></div>

<div class="icon-div cancel_48Icon " onclick="selectIcon(this)"></div>

<div class="icon-div themeIcon " onclick="selectIcon(this)"></div>

<div class="icon-div config2Icon " onclick="selectIcon(this)"></div>

<div class="icon-div imIcon " onclick="selectIcon(this)"></div>

<div class="icon-div theme2Icon " onclick="selectIcon(this)"></div>

<div class="icon-div checkIcon " onclick="selectIcon(this)"></div>

<div class="icon-div printerIcon " onclick="selectIcon(this)"></div>

<div class="icon-div previewIcon " onclick="selectIcon(this)"></div>

<div class="icon-div page_excelIcon " onclick="selectIcon(this)"></div>

<div class="icon-div pluginIcon " onclick="selectIcon(this)"></div>

<div class="icon-div addIcon " onclick="selectIcon(this)"></div>

<div class="icon-div edit1Icon " onclick="selectIcon(this)"></div>

<div class="icon-div disconnectIcon " onclick="selectIcon(this)"></div>

<div class="icon-div tableIcon " onclick="selectIcon(this)"></div>

<div class="icon-div database_connectIcon " onclick="selectIcon(this)"></div>

<div class="icon-div exclamationIcon " onclick="selectIcon(this)"></div>

<div class="icon-div bugIcon " onclick="selectIcon(this)"></div>

<div class="icon-div configIcon " onclick="selectIcon(this)"></div>

<div class="icon-div server_connectIcon " onclick="selectIcon(this)"></div>

<div class="icon-div database_refreshIcon " onclick="selectIcon(this)"></div>

<div class="icon-div user_commentIcon " onclick="selectIcon(this)"></div>

<div class="icon-div imagesIcon " onclick="selectIcon(this)"></div>


<div class="icon-div docsIcon " onclick="selectIcon(this)"></div>


<div class="icon-div group_addIcon " onclick="selectIcon(this)"></div>


<div class="icon-div message_editIcon " onclick="selectIcon(this)"></div>


<div class="icon-div uploadIcon " onclick="selectIcon(this)"></div>


<div class="icon-div downloadIcon " onclick="selectIcon(this)"></div>


<div class="icon-div app_boxesIcon " onclick="selectIcon(this)"></div>


<div class="icon-div app_leftIcon " onclick="selectIcon(this)"></div>


<div class="icon-div app_rightIcon " onclick="selectIcon(this)"></div>


<div class="icon-div arrow_switchIcon " onclick="selectIcon(this)"></div>


<div class="icon-div wenjianguanli " onclick="selectIcon(this)"></div>


<div class="icon-div yinzhangguanli " onclick="selectIcon(this)"></div>


<div class="icon-div gongzliugl " onclick="selectIcon(this)"></div>


<div class="icon-div gongzgl " onclick="selectIcon(this)"></div>


<div class="icon-div xinwengl " onclick="selectIcon(this)"></div>


<div class="icon-div xinwengl " onclick="selectIcon(this)"></div>


<div class="icon-div zhanneixx " onclick="selectIcon(this)"></div>


<div class="icon-div yuangongzl " onclick="selectIcon(this)"></div>


<div class="icon-div report " onclick="selectIcon(this)"></div>


<div class="icon-div gwtzsq " onclick="selectIcon(this)"></div>


<div class="icon-div jjsq " onclick="selectIcon(this)"></div>


<div class="icon-div s_xygsq " onclick="selectIcon(this)"></div>


<div class="icon-div s_lzsq " onclick="selectIcon(this)"></div>


<div class="icon-div s_xctdsq " onclick="selectIcon(this)"></div>


<div class="icon-div s_dept " onclick="selectIcon(this)"></div>


<div class="icon-div s_zjjg " onclick="selectIcon(this)"></div>


<div class="icon-div s_rate " onclick="selectIcon(this)"></div>


<div class="icon-div s_area " onclick="selectIcon(this)"></div>


<div class="icon-div s_customer " onclick="selectIcon(this)"></div>


<div class="icon-div s_chengyunshang " onclick="selectIcon(this)"></div>


<div class="icon-div s_gongys " onclick="selectIcon(this)"></div>


<div class="icon-div s_shop " onclick="selectIcon(this)"></div>


<div class="icon-div s_zhizaos " onclick="selectIcon(this)"></div>


<div class="icon-div s_cangku " onclick="selectIcon(this)"></div>


<div class="icon-div s_shenpshezhi " onclick="selectIcon(this)"></div>


<div class="icon-div s_shangp " onclick="selectIcon(this)"></div>


<div class="icon-div s_wdfjx " onclick="selectIcon(this)"></div>


<div class="icon-div s_wdgz " onclick="selectIcon(this)"></div>


<div class="icon-div s_wdsjx " onclick="selectIcon(this)"></div>


<div class="icon-div s_xxgl " onclick="selectIcon(this)"></div>


<div class="icon-div s_wdyz " onclick="selectIcon(this)"></div>


<div class="icon-div s_yzgl1 " onclick="selectIcon(this)"></div>


<div class="icon-div s_barcode " onclick="selectIcon(this)"></div>


<div class="icon-div cart " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_apinfo " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Apinvmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_AppAccount " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Appaymas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Apqtfymas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Aprtnmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_arinfo " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Arinvmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Arrcpmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Arrtnmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Baseinfo " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_baseinfosmng_Fdc " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Buy360 " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_CgSituation " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_DaySellSituation_mng " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_file " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_InnerControl " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ipbommas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_ipinfo " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ipnetordmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ipordmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ippnmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_ivinfo " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_ivinfo_dhgl " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ivinvmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ivitemocmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ivpurimas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ivreqmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ivsalemas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_Ivtfmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_Ivtzdmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Apinvmas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Apinvmas_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Appaymas " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Appaymas_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Apqtfymas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Apqtfymas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Aprtnmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Aprtnmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Arinvmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Arinvmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Arrcpmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Arrcpmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Arrtnmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Arrtnmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_BarcodeBill " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Biz " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Buy360AddressResult " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Buy360Item " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Buy360ItemCategory " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Buy360Trade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Buy360Trade_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Complaint " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Cust " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_CustRank " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_DefPrice " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Duty " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Employ " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Employ_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Fcc " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Fic " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_File " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Form " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_FormType " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Fuc " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Function " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Fvc " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Fytype " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ipbommas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_IpnetOrdmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_IpnetOrdmas_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_IpOrdmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_IpOrdmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ippnmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_IpPnmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Item " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_ItemNature " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivinimas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivinvmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivinvmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivitemormas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivitemormas_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Ivpurmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivpurmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivreqmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivsalemas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivsalemas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivsomas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivsomas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivtfmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivtfmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivtzdmas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Ivtzdmas_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_KuaidiCompany " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Lgapbal " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Lgarbal " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Lgipbal " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Menu " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_News " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_NewsType " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaEmpLevel " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaEmpZc " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaGwdd " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaGwdd_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaipaiAddressResult " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_PaipaiItem " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaipaiTrade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaipaiTrade_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_PaJjSq " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaJjSq_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaLzSq " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaLzSq_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaQj " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaQj_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaRlxq " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaRlxq_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaXctzSq " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_PaXctzSq_check " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_QqbuyItem " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_QqbuyItemCat " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_QqbuyTrade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_QqbuyTrade_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Rate " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_RateDetail " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_ReceiveIpPn " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Role " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_RoleTemplate " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Rpcode " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_RpItemCodedtl " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_RpItemCodemas " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_RpitemType " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_SysBillPrefix " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_SysModel " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_SystemLog " onclick="selectIcon(this)"></div>
<div class="icon-div newicon_mng_SysUnionParam " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Sysuser " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_TaobaoAddressResult " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_TaobaoItem " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_TaobaoItemCat " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_TaobaoRefund " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_TaobaoTrade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_TaobaoTrade_check " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_mng_Union " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Vendor " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Work " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_monitor_Work " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_netshop " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_OtherParamSellSituation_mng " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_PaEmpHtTerm_mng " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_PaEmpInfo_mng " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_PaEmpMonthFx_mng " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_painfo " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_Paipai " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_paleave " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_ParamSellSituation_mng " onclick="selectIcon(this)"></div>


<div class="icon-div newicon_perm_Role " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_PriceSystem " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_print_Buy360Trade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_print_PaipaiTrade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_print_QqbuyTrade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_print_TaobaoTrade " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_qqbuy " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_report " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_reportinfo " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_SaleSituation " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_StockCgSituation " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_system " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_system_perm " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_system_resource " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_Taobao " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_UnionIvSituation_mng " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_UnionPaySituation_mng " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_UnionRcpSituation_mng " onclick="selectIcon(this)"></div>
<div class="icon-div newicon_UnionSellSituation_mng " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_Vendor " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_waits_Work " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_Work " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_Workflow " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_bom " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Dept " onclick="selectIcon(this)"></div>

<div class="icon-div newicon_mng_Fdc " onclick="selectIcon(this)"></div>
<div class="icon-div big_cashier " onclick="selectIcon(this)"></div>

<div class="icon-div big_cashier_group " onclick="selectIcon(this)"></div>

<div class="icon-div big_cashier_rtn " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_qty " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_price " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_famt " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_dis " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_remark " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_dis_all " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_clerk " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_member " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_stock_query " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_hold " onclick="selectIcon(this)"></div>

<div class="icon-div big_change_rehold " onclick="selectIcon(this)"></div>

<div class="icon-div big_cancel " onclick="selectIcon(this)"></div>

<div class="icon-div big_print " onclick="selectIcon(this)"></div>
<div class="icon-div med_cashier " onclick="selectIcon(this)"></div>

<div class="icon-div med_cashier_group " onclick="selectIcon(this)"></div>

<div class="icon-div med_cashier_rtn " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_qty " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_price " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_famt " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_dis " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_remark " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_dis_all " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_clerk " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_member " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_stock_query " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_other_query " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_hold " onclick="selectIcon(this)"></div>

<div class="icon-div med_change_rehold " onclick="selectIcon(this)"></div>

<div class="icon-div med_cancel " onclick="selectIcon(this)"></div>

<div class="icon-div med_print " onclick="selectIcon(this)"></div>

<div class="icon-div sml_cashier " onclick="selectIcon(this)"></div>

<div class="icon-div sml_cashier_group " onclick="selectIcon(this)"></div>

<div class="icon-div sml_cashier_rtn " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_qty " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_price " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_famt " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_dis " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_remark " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_dis_all " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_clerk " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_member " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_stock_query " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_other_query " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_hold " onclick="selectIcon(this)"></div>

<div class="icon-div sml_change_rehold " onclick="selectIcon(this)"></div>

<div class="icon-div sml_cancel " onclick="selectIcon(this)"></div>

<div class="icon-div sml_print " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_oa " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_work_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_wait_work " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_my_work " onclick="selectIcon(this)"></div>
<div class="icon-div icon_16_all_work " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_check_work " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_work_flow_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_form_type " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_form_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_file " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_file_type " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_file_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_sign_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_my_sign " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_sign " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_sign_check " onclick="selectIcon(this)"></div>


<div class="icon-div icon_16_supplies_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_supplies_type " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_supplies_req " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_supplies_check " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_supplies_wh " onclick="selectIcon(this)"></div>


<div class="icon-div icon_16_dossier_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_dossier_room " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_dossier_book " onclick="selectIcon(this)"></div>


<div class="icon-div icon_16_wh_mas " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_train_mas " onclick="selectIcon(this)"></div>


<div class="icon-div icon_16_20141101_001 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_002 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_003 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_004 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_005 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_006 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_007 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_008 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_009 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_010 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_011 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_012 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_013 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_014 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_015 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_016 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_017 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_018 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_019 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_020 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_021 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_022 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_023 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_024 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_025 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_026 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_027 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_028 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_029 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_030 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_031 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_032 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_033 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_034 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_035 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_036 " onclick="selectIcon(this)"></div>


<div class="icon-div icon_16_20141101_037 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_038 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_039 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_040 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_041 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_042 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_043 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_044 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_045 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_046 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_047 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_048 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_049 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_050 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_051 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_052 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_053 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_054 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_055 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_056 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_057 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_058 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_059 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_060 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_061 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_062 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_063 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_064 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_065 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_066 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_067 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_068 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_069 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_070 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_071 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_072 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_073 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_074 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_075 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_076 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_077 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_078 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_079 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_080 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_081 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_082 " onclick="selectIcon(this)"></div>

<div class="icon-div icon_16_20141101_083 " onclick="selectIcon(this)"></div>

<div class="icon-div exclamation24 " onclick="selectIcon(this)"></div>

<script type="text/javascript">
String.prototype.trim=function(){
    return this.replace(/(^\s*)|(\s*$)/g, "");
 }
function selectIcon(obj){
	var clazz = jQuery(obj).attr('class').replace('icon-div','').trim();
	art.dialog.data('menuSelectIconCallback')(clazz);
	art.dialog.close();
}
</script>
</@CommonMacro.page>

