<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenze.pms.dao.impl.bi.BiPartDaoImpl">

    <sql id="table"> bi_part</sql>
    
    <sql id="selectCols"> t.id, t.version, t.createtime, t.updatetime, t.fdel_flag, t.serial_number, t.part_name, t.part_type_id, t.part_type_name </sql>

    <resultMap id="beanMap" type="BiPart">
            <id column="ID" property="id" />
                <result column="version" property="version" />
                <result column="createtime" property="createtime" />
                <result column="updatetime" property="updatetime" />
                <result column="fdel_flag" property="fdelFlag" />
                <result column="serial_number" property="serialNumber" />
                <result column="part_name" property="partName" />
                <result column="part_type_id" property="partTypeId" />
                <result column="part_type_name" property="partTypeName" />
        </resultMap>


    <insert id="insert" parameterType="java.util.Map" keyProperty="id" >
        insert into
        <include refid="table" />
        (id, version, createtime, updatetime, fdel_flag, serial_number, part_name, part_type_id, part_type_name)
        values 
                (#{id}, 0,now(),now(),0, #{serialNumber}, #{partName}, #{partTypeId}, #{partTypeName})
    </insert>

    <!-- 更新:version+1 实现乐观锁 -->
    <update id="update" parameterType="java.util.Map">
        update
        <include refid="table" />
        <set>
                VERSION = #{version}+1 ,
                    updatetime=now(),
            fdel_flag=#{fdelFlag},
            serial_number=#{serialNumber},
            part_name=#{partName},
            part_type_id=#{partTypeId},
            part_type_name=#{partTypeName},
            </set>
        <where>
            ID = #{id} and VERSION = #{version}
        </where>
    </update>

    <select id="getById" parameterType="long" resultMap="beanMap">
        select <include refid="selectCols"/> from 
        <include refid="table" /> t
        where t.ID = #{id}
    </select>
    

    <sql id="condition_sql">
          <if test="id!= null and id!=''">and t.id=#{id}</if>
                               and t.FDEL_FLAG = 0
             <if test="serialNumber!= null and serialNumber!=''">and t.serial_number=#{serialNumber}</if>
             <if test="partName!= null and partName!=''">and t.part_name=#{partName}</if>
             <if test="partTypeId!= null and partTypeId!=''">and t.part_type_id=#{partTypeId}</if>
             <if test="partTypeName!= null and partTypeName!=''">and t.part_type_name=#{partTypeName}</if>
       </sql>


    <!-- 根据多参数进行查询数据 -->
    <select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
        select <include refid="selectCols"/> from
        <include refid="table" /> t
        <where>
            <include refid="condition_sql" />
        </where>
        <![CDATA[ order by t.ID desc]]>
    </select>

    <select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
        select <include refid="selectCols"/> from
        <include refid="table" /> t
        <where>
            <include refid="condition_sql" />
        </where>
    </select>
    
    <update id="deleteByIds" parameterType="java.util.List">
        update
        <include refid="table" />
        <set>
            FDEL_FLAG=1,
        </set>
        <where>
            ID in (<foreach collection="list" item="item" index="index" separator=",">${item}</foreach>)
        </where>
    </update>

</mapper>