<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenze.pms.dao.impl.bi.BiUnionDaoImpl">

    <sql id="table"> bi_union</sql>
    
    <sql id="selectCols"> t.id, t.version, t.createtime, t.updatetime, t.fdel_flag, t.union_no, t.union_name, t.parent_no, t.parent_name, t.expanded_flag, t.leaf_flag </sql>

    <resultMap id="beanMap" type="BiUnion">
            <id column="ID" property="id" />
                <result column="version" property="version" />
                <result column="createtime" property="createtime" />
                <result column="updatetime" property="updatetime" />
                <result column="fdel_flag" property="fdelFlag" />
                <result column="union_no" property="unionNo" />
                <result column="union_name" property="unionName" />
                <result column="parent_no" property="parentNo" />
                <result column="parent_name" property="parentName" />
                <result column="expanded_flag" property="expandedFlag" />
                <result column="leaf_flag" property="leafFlag" />
        </resultMap>


    <insert id="insert" parameterType="java.util.Map" keyProperty="id" >
        insert into
        <include refid="table" />
        (id, version, createtime, updatetime, fdel_flag, union_no, union_name, parent_no, parent_name, expanded_flag, leaf_flag)
        values 
                (#{id}, 0,now(),now(),0, #{unionNo}, #{unionName}, #{parentNo}, #{parentName}, #{expandedFlag}, #{leafFlag})
    </insert>

    <!-- 更新:version+1 实现乐观锁 -->
    <update id="update" parameterType="java.util.Map">
        update
        <include refid="table" />
        <set>
                VERSION = #{version}+1 ,
                    updatetime=now(),
            fdel_flag=#{fdelFlag},
            union_no=#{unionNo},
            union_name=#{unionName},
            parent_no=#{parentNo},
            parent_name=#{parentName},
            expanded_flag=#{expandedFlag},
            leaf_flag=#{leafFlag},
            </set>
        <where>
            t.ID = #{id} and VERSION = #{version}
        </where>
    </update>

    <select id="getById" parameterType="long" resultMap="beanMap">
        select <include refid="selectCols"/> from 
        <include refid="table" /> t
        where ID = #{id}
    </select>
    

    <sql id="condition_sql">
                               and t.FDEL_FLAG = 0
            <if test="root==null or root=='' "> and t.union_no!='0' </if>
             <if test="unionNo!= null and unionNo!=''">and t.union_no like concat(#{unionNo},'%')</if>
             <if test="singleUnionNo!= null and singleUnionNo!=''">and t.union_no=#{singleUnionNo}</if>
             <if test="unionName!= null and unionName!=''">and t.union_name=#{unionName}</if>
             <if test="parentNo!= null and parentNo!=''">and t.parent_no like concat(#{parentNo},'%')</if>
             <if test="singleParentNo!= null and singleParentNo!=''">and t.parent_no=#{singleParentNo}</if>
             <if test="parentName!= null and parentName!=''">and t.parent_name=#{parentName}</if>
             <if test="expandedFlag!= null and expandedFlag!=''">and t.expanded_flag=#{expandedFlag}</if>
             <if test="leafFlag!= null and leafFlag!=''">and t.leaf_flag=#{leafFlag}</if>
       </sql>


    <!-- 根据多参数进行查询数据 -->
    <select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
        select <include refid="selectCols"/> from
        <include refid="table" /> t
        <where>
            <include refid="condition_sql" />
        </where>
        <![CDATA[ order by t.ID desc]]>
    </select>

    <select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
        select <include refid="selectCols"/> from
        <include refid="table" /> t
        <where>
            <include refid="condition_sql" />
        </where>
    </select>
    
    <update id="deleteByIds" parameterType="java.util.List">
        update
        <include refid="table" />
        <set>
            FDEL_FLAG=1,
        </set>
        <where>
            ID in (<foreach collection="list" item="item" index="index" separator=",">${item}</foreach>)
        </where>
    </update>

	<select id="maxSeq" parameterType="java.util.Map" resultType="string">
   		select max(t.union_no) from <include refid="table" /> t where t.parent_no=#{parentNo}
    </select>
    
     <update id="updateSubMenu" parameterType="java.util.Map">
        update
        <include refid="table" />
        <set>
            union_no= concat(#{curMenuNo},TRIM(LEADING #{preMenuNo} FROM union_no)),
            parent_no = concat(#{curMenuNo},TRIM(LEADING #{preMenuNo} FROM parent_no)),
        </set>
        <where>
            parent_no like  concat(#{preMenuNo},'%') 
        </where>
    </update>
</mapper>