<#import "/include/CommonTagMacro.html" as CommonMacro>
<@CommonMacro.page title="组织管理">
<#assign scope="bi"/>
<#assign curPre="biUnion"/>
<#assign curDef="BiUnion"/>
<#assign curClass="com.tenze.pms.facade.dto.bi.BiUnionDto"/>
<script type="text/javascript">
var staticVar = "";
var staticId = "";
var staticRec ;
var ${curPre}ItemClick;
var ${curPre}GridItemdbclick;
var bt_add_OnClick;
var form_bt_close_OnClick;
var bt_edit_OnClick;
var bt_refresh_OnClick;
var bt_del_OnClick;
var btn_parentName_preview_OnClick;
var form_bt_save_OnClick;
var search_btQuery_OnClick;
var bt_search_OnClick;
var btn_query_parentName_preview_OnClick;
Ext.onReady(function() {
	
		var toolbar_promise = jQuery.ajax({
			type:'get',
			url:'${base}/sys/roleMenuFuncsPermBySysPerm.tz?mainMenuId=${mainMenuId}',
			dataType:'json'
		}).done(function(resp){
			var arr = [];
			for(var i in resp){
				arr.push(resp[i].functionBtn);
			}
			TenzeExt.${curPre}GridToolbar = Ext_BuildToolbarBtns(arr);
		});
		
		
		 TenzePreLoad(['${curClass}',toolbar_promise],function(){
			 Ext_BuildGrid('${curClass}','${curPre}',{
				url:'${base}/${scope}/listPageBy${curDef}.tz',
				tbar:TenzeExt.${curPre}GridToolbar
			 });
			 
			 Ext_BuildTree('${curClass}','${curPre}',{
				 url:'${base}/${scope}/listBy${curDef}.tz',
				 rootText:'组织',
				 rootVisible:true,
				 listTreeSetting:{
					 convertProps:[{key:'expandedFlag',target:'expanded'},{key:'leafFlag',target:'leaf'}],
					 extIdKey:'id',
					 extTextKey:'unionName',
					 simpleData:{
						 idKey:'unionNo',
						 pIdKey:'parentNo'
					 }
				 }
			 });
			 
			 Ext_BuildForm('${curClass}','${curPre}',{
				 
			 });
			 
		     var win = Ext.create('Ext.Window', {
		        title: '编辑',
		        width: 700,
		        border : false,
		        x: 100,
		        y: document.documentElement.clientWidth / 10,
		        resizable : true,
				draggable : true,
				closeAction : 'close',
		        plain: true,
		        layout: 'fit',
		        items : [ TenzeExt.${curPre}Form],
		        tbar : Ext_BuildToolbarBtns(['save','close'],{preffix:'form_'})
		    });
		    
		     TenzeExt.${curPre}GridStore.on("beforeload", function(){
		 		Ext.apply(TenzeExt.${curPre}GridStore.proxy.extraParams, {parentNo : staticId});
		 	});                 
		                       
		                  
		     //树节点单击事件
		     ${curPre}TreeItemClick =function(view,re) {
		     	staticVar =re.data.text;
		         staticId =re.raw.unionNo;
		         staticRec = re;
		         query${curDef}(staticId);       
		     }
		     <#--新增按钮-->
		     bt_add_OnClick = function() {
		        win.show();
		     }
		     <#--关闭-->
		     form_bt_close_OnClick = function() {
		        TenzeExt.${curPre}Form.form.reset();
		        win.hide();
		     }
		     <#--编辑-->
		     bt_edit_OnClick = function() {
		     	var record =TenzeExt.${curPre}Grid.getSelectionModel().getLastSelected();
		        showWin(record);		
		     }
		     ${curPre}GridItemdbclick = function(obj, record, item, index, e, eOpts){
		     	showWin(record);	
		     };
		     function showWin(record){
		 	   if (isEmpty(record)) {			
		 			showErrorMsg('请选择列表中的行');
		 			return false;
		 	   }
		        TenzeExt.${curPre}Form.getForm().loadRecord(record);	
		        /*
		        $('parentName').setValue(record.get('parentName')); 
		        $('parentNo').setValue(record.get('parentNo'));   
		         //编辑的上级编号不能修改                    
		         if (!isEmpty(TenzeExt.menuForm.getValues().fdeptNo)) {            
		             $('parentName').readOnly=true;
		         }
		         */
		         win.show();
		     }
		     bt_del_OnClick = function() {
		     	batchRemove('${base}/${scope}/removeBy${curDef}.tz', TenzeExt.${curPre}Grid, "unionNo", function(response){
		     		var text = response.responseText;
		     		var kk = Ext.JSON.decode(text).success;
		     		if(!isEmpty(kk) && kk == "true"){
		     		 	showTitMsg('删除成功', function(){
		     		 		var rec = TenzeExt.${curPre}Grid.getSelectionModel().getLastSelected();
		     				var node = TenzeExt.${curPre}TreeStore.getNodeById(rec.data.parentNo);
		 		 			if(!isEmpty(node)){
		     		 			node.set('leaf', false);
		     		 			TenzeExt.${curPre}TreeStore.load({
		     		 				node : node
		     		 			});
		 		 			}
		 	    			query${curDef}(staticId); 
		 	        	});
		     		}else{
		     			showErrorMsg(Ext.JSON.decode(text).failure);
		     		}
		     	});
		     }
		     
		     //刷新
		     bt_refresh_OnClick = function() {       
		        TenzeExt.${curPre}GridStore.load();
		     }
		     
		     form_bt_save_OnClick = function() {
		     	var fdeptNo = TenzeExt.${curPre}Form.getValues().id;
		     	if(isEmpty(fdeptNo)){
		     		submitForm('${base}/${scope}/createBy${curDef}.tz', TenzeExt.${curPre}Form, function(form, action){
		 	    		showTitMsg('保存成功', function(){
		 	    			query${curDef}(staticId) ;
		 	    			var parentNo = $("parentNo").getValue();
		 	    			if(isEmpty(parentNo)){
		 	    				parentNo = '0';
		 	    			}
		 	    			var node = TenzeExt.${curPre}TreeStore.getNodeById(parentNo);
		 		 			if(!isEmpty(node)){
		     		 			node.set('leaf', false);
		     		 			TenzeExt.${curPre}TreeStore.load({
		     		 				node : node
		     		 			});
		 		 			}	
		 	    			win.hide();
		 	    		});
		 	    	},function(form, action){
		 	    		var errmsg = action.result.failure;
		 				showErrorMsg(errmsg);
		 	    	});
		     	}else{
		 	    	submitForm('${base}/${scope}/updateBy${curDef}.tz', TenzeExt.${curPre}Form, function(form, action){
		 	    		console.log(action);
		 	    		showTitMsg('保存成功', function(){
		 	    			query${curDef}(staticId) ;
		 	    			var parentNo = $("parentNo").getValue();
		 	    			if(isEmpty(parentNo)){
		 	    				parentNo = '0';
		 	    			}
		 	    			var node = TenzeExt.${curPre}TreeStore.getNodeById(parentNo);
		 		 			if(!isEmpty(node)){
		     		 			node.set('leaf', false);
		     		 			TenzeExt.${curPre}TreeStore.load({
		     		 				node : node
		     		 			});
		 		 			}		
		 	    			win.hide();
		 	    		});
		 	    	},function(form, action){
		 	    		var errmsg = action.result.failure;
		 				showErrorMsg(errmsg);
		 	    	});
		     	}
		     }
		    
		     win.on("hide", function(){
		     	TenzeExt.${curPre}Form.form.reset();
		 	});
		 	/**
		 	 * 布局
		 	 */
		 	var viewport = new Ext.Viewport({
		 		layout : 'border',
		 		items : [ {
		 			title : '区域',
		 			iconCls : 'layout_contentIcon',
		 			tools : [ ],
		 			collapsible : true,
		 			width : 180,
		 			split : true,
		 			region : 'west',
		 			autoScroll : true,
		 			layout:'fit',
		 			items : [ TenzeExt.${curPre}Tree ]
		 		}, {
		 			region : 'center',
		 			layout : 'fit',
		 			border : false,
		 			items : [ TenzeExt.${curPre}Grid ]
		 		} ]
		 	});
		 	
		 	 TenzeExt.${curPre}Tree.on('load',function(){
			     TenzeExt.${curPre}Tree.expandAll();
		     });
		 	
		 	function query${curDef}(queryId) {       
		 		TenzeExt.${curPre}GridStore.load({
		 		    params : {
		 				parentNo:queryId	
		 			}
		 		});
		     }
		     
		     
		     var uplevelSelectCallback;
		     
		     btn_parentName_preview_OnClick = function(view, record, item, index, e, eOpts){
		    	 uplevelWin.show();
		    	 uplevelSelectCallback = function(view, record, item, index, e, eOpts){
		    		 $('parentNo').setValue(record.raw.unionNo);
			    	 $('parentName').setValue(record.raw.unionName);
			    	 uplevelWin.hide();
		    	 }
		     }
		     
		     btn_query_parentName_preview_OnClick = function(){
		    	 uplevelWin.show();
 				 uplevelSelectCallback = function(view, record, item, index, e, eOpts){
 					 $('query_parentNo').setValue(record.raw.unionNo);
 			    	 $('query_parentName').setValue(record.raw.unionName);
 			    	 uplevelWin.hide();
		    	 }
		     }
		     
		     Ext_BuildTree('${curClass}','pickup${curDef}',{
				 url:'${base}/${scope}/listBy${curDef}.tz',
				 rootText:'组织',
				 rootVisible:false,
				 dblClickevent:true,
				 listTreeSetting:{
					 convertProps:[{key:'expandedFlag',target:'expanded'},{key:'leafFlag',target:'leaf'}],
					 extIdKey:'id',
					 extTextKey:'unionName',
					 simpleData:{
						 idKey:'unionNo',
						 pIdKey:'parentNo'
					 }
				 }
			 });
		     
		     window.pickup${curDef}TreeItemDblClick = function(view, record, item, index, e, eOpts){
		    	 uplevelSelectCallback(view, record, item, index, e, eOpts);
		     }
		     
		     var uplevelWin = Ext.create('Ext.Window', {
			        title: '编辑',
			        width:document.documentElement.clientWidth * 0.5,
			        height:document.documentElement.clientHeight,
			        border : false,
			        resizable : true,
					draggable : true,
					closeAction : 'close',
			        plain: true,
			        layout: 'fit',
			        items : [TenzeExt.pickup${curDef}Tree],
			        tbar : Ext_BuildToolbarBtns(['close'],{preffix:'pickup${curDef}_'})
			 });
		     TenzeExt.pickup${curDef}Tree.on('load',function(){
			     TenzeExt.pickup${curDef}Tree.expandAll();
		     });
		     
		     window.pickup${curDef}_bt_close_OnClick = function(){
		    	 uplevelWin.hide();
		     }
		     
		     function query${curDef}() {       
			 		TenzeExt.${curPre}GridStore.load();
		     }
		 	
		    
		 	Ext_BuildSearchWin('${curClass}','');
		 	
		 	getParams = function(){
		 		return TenzeExt['search_getParams']();
		 	}
		 	
		 	bt_search_OnClick = function(){
		 		TenzeExt.search_Win.show();
		 	};
		 	
		 	search_btQuery_OnClick = function(){
		 		query${curClass}();
		 	}
		 });
    
});
</script>
</@CommonMacro.page>
